
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>User Details</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Active</th>
            <th>Staff</th>
            <th>Role</th>
            <th>Created At</th>
            <th>Updated At</th>
            
        </tr>
        
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.email }}</td>
            <td>{{ main.is_active }}</td>
            <td>{{ main.is_staff }}</td>
            <td>{{ main.get_role_display }}</td>
            <td>{{ main.created_at }}</td>
            <td>{{ main.updated_at }}</td>
            
        </tr>
        
    </table>
    <br>
    <button type="button" class="btn btn-success" onclick="location.href='{% url 'approve' main.id %}'">Approve</button>
<button type="button" class="btn btn-danger" onclick="location.href='{% url 'remove' main.id %}'">Reject</button>

</body>
</html>
