{% extends 'com_base.html' %}

{% block content %}
<br>
    <div class="container">
        <h1 class="text-center">Edit Company Profile</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="company">Company Name:</label>
                <input type="text" class="form-control" id="company" name="company" value="{{ profile.company }}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ profile.email }}">
            </div>
            <div class="form-group">
                <label for="image">Profile Picture</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <div class="form-group">
                <label for="mob">Mobile:</label>
                <input type="tel" class="form-control" id="mob" name="mob" value="{{ profile.mob }}">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <textarea class="form-control" id="address" name="address">{{ profile.address }}</textarea>
            </div>
            <div class="form-group">
                <label for="details">Details:</label>
                <textarea class="form-control" id="details" name="details">{{ profile.details }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <!-- Bootstrap JS -->
{% endblock content %}
